{% extends "base.html" %}

{% block main %}
<div align="left"">
<h3>Assignment-specific help pages</h3>
<p><a href="http://bestsellers.lib.virginia.edu/help/a1help/">Assignment 1: Bibliographic Description of a First Edition</a></p>
<p><a href="http://bestsellers.lib.virginia.edu/help/a2help/">Assignment 2: Publishing History</a></p>
<p><a href="http://bestsellers.lib.virginia.edu/help/a3help/">Assignment 3: Biographical Sketch</a></p>
<p><a href="http://bestsellers.lib.virginia.edu/help/a4help/">Assignment 4: Reception History</a></p>
<p><a href="http://bestsellers.lib.virginia.edu/help/a5help/">Assignment 5: Critical Essay</a></p>
{% endblock %}
