{% extends "base.html" %}

{% block main %}
<p>
<div class="quote">
  <div class="text">
    "We shall not busy ourselves with what men ought to have admired, what they ought to have written, what they ought to have thought, but with what they did think, write, admire."
  </div>
  <div class="citation">
    -- A History of Criticism, George Saintsbury (cribbed from Alice Hackett, 70 Years of Best Sellers) 
  </div>
</div>

<div id="bestsellers_container">
  <a href="{{ url_for('submissions') }}">
    <div id="bestsellers_link">
    <div class="text">
      Browse the Bestsellers DB
    </div>
    <!-- freeimages.com/photographer/magri-36404 -->
    </div>
  </a>
</div>

<div class="center">
<span class="big">Bestseller Lists by Decade</span>
<table id="bestsellers_by_decade">
  <tr>
    <td><a href="{{ url_for('decade', decade=1900) }}">1900-1909</a></td>
    <td><a href="{{ url_for('decade', decade=1910) }}">1910-1919</a></td>
    <td><a href="{{ url_for('decade', decade=1920) }}">1920-1929</a></td>
    <td><a href="{{ url_for('decade', decade=1930) }}">1930-1939</a></td>
    <td><a href="{{ url_for('decade', decade=1940) }}">1940-1949</a></td>
  </tr>
  <tr>
    <td><a href="{{ url_for('decade', decade=1950) }}">1950-1959</a></td>
    <td><a href="{{ url_for('decade', decade=1960) }}">1960-1969</a></td>
    <td><a href="{{ url_for('decade', decade=1970) }}">1970-1979</a></td>
    <td><a href="{{ url_for('decade', decade=1980) }}">1980-1989</a></td>
    <td><a href="{{ url_for('decade', decade=1990) }}">1990-1999</a></td>
  </tr>
</table>
</div>

<div class="center">
  <p>
  <div class="text-left small">
  See also:<br />
  <ul>
    <li>An interview describing this class (from the MLA's radio show "What's the Word"), <a href="{{ url_for('static', filename='media/mlawtw01-bs.mp3') }}">downloadable in in MP3 format</a> (7.3 MB)</li>
    <li>An <a href="http://explore.lib.virginia.edu/exhibits/show/bestsellers">exhibition on bestselling American fiction curated in 2002</a> by Linda Clendenning and John Unsworth, <a href="http://explore.lib.virginia.edu/exhibits/show/bestsellers">abbreviated and refreshed in 2013</a> by Melinda Baumann, Hoke Perkins, Mercy Quintos Procaccini, Melissa Ragain, and John Unsworth.</li>
    <li>... and just for fun: <a href="https://www.pri.org/stories/2018-01-04/naked-came-stranger-oral-history">An oral history of the making of <i>Naked Came the Stranger</i></a></li>
    <li><a href="{{ url_for('help', page='credits') }}">Credits & Acknowledgments</a></li>
  </ul>
The 20th-Century American Bestsellers Database consists of work done by undergraduate and graduate students at the University of Virginia, the University of Illinois, Catholic University, and Brandeis University, from 1998 to the present.</p>
  </div>
  </p>
</div>
{% endblock %}
