{% extends "base.html" %}

{% block main %}
<div align="left"">
<h2>ENSP 3559: 20th-Century American Bestsellers</br>
Spring 2018 Syllabus<br/>
TuTh 9:30AM - 10:45AM, The Rotunda, Room 150</h2>
<h4>Bookmark These</h4>
<p>
<ul>
	<li><a href="https://bestsellers.lib.virginia.edu">The Bestsllers Database</a><br/></li>
	<li><a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f</li>
	<li>">Collab Site for ENSP3559</a><br/></li>
	<li><a href="https://guides.lib.virginia.edu/c.php?g=763827&p=5478527">LibGuide for ENSP3559</a><br/></li>
	<li><a href="https://bestsellers.lib.virginia.edu/students/">DB Assignments</a><br/></li>
	<li><a href="http://bestsellers.lib.virginia.edu/help.pages.html">Help Pages for Each Assignment</a></li>
</ul></p>
<h4>Your Support Crew: </h4>
<p>
<ul>
<li><a href="mailto:mjv7ny@virginia.edu">Michael VanHoose, Teaching Assistant</a></li>
<ul><li>Alderman Cafe, Thursdays 11-12:30</li></ul>
	<li><a href="https://static.lib.virginia.edu/directory/staff/ka7uz.html">Krystal Appiah</a>, Special Collections<br/></li>
	<li><a target="staff" href="https://static.lib.virginia.edu/directory/staff/cjr2q.html">Chris Ruotolo</a>, Subject Library Liaison for English</li>
	<li><a target=staff href="https://static.lib.virginia.edu/directory/staff/mas5by.html">Molly Schwartzburg</a>, Special Collections<br/></li>
	<li><a target=staff href="https://static.lib.virginia.edu/directory/staff/slt9e.html">Sunny Taylor</a>, Executive Assistant to John Unsworth</li>
	<ul><li>Get in touch with Sunny to make office-hour appointments with John</li></ul></ul></p>
	
<h2>Reading</h2>

<h3>Required:</h3>
<p>Parts of:
<ul>
	<li><a href="https://books.google.com/books?id=aPbF1kuayJYC&printsec=frontcover#v=onepage&q&f=false">Paul Fussell, <i>Class: A Guide Through the American Status System</i></a><br/>
	 Touchstone edition, 1992</li>

	<li><a href="https://books.google.com/books?id=F4JzCwAAQBAJ&printsec=frontcover#v=onepage&q&f=false">Jodie Archer and Matt Jockers, <i>The Bestsellers Code: Anatomy of the Blockbuster Novel</i></a><br/>
	 St. Martin's Press, 2016</li>
	 
<li><a href="https://ebookcentral.proquest.com/lib/uva/detail.action?docID=415119">Sutherland, John. Bestsellers : A Very Short Introduction,</a><br/> Oxford University Press, UK, 2007.</li>
	</ul>
</p>
<p>And all of: 
<ul>
	<li><a target="googleplay" href="https://books.google.com/books/about/The_Jungle.html?id=lDTuAAAAMAAJ">Upton Sinclair, <i>The Jungle</i> (1906</a>)<br/>
	Oxford World Classics Edition</li>

	<li><a target="googleplay" href="https://books.google.com/books?id=1qgTAAAAYAAJ">Booth Tarkington, <i>The Magnificent Ambersons</i> (1918)</a><br/>
	Indiana UP</li>

	<li><a target="googleplay" href="https://books.google.com/books?id=X_5aAAAAMAAJ">Sinclair Lewis, <i>Babbitt</i> (1922)</a><br/>
	Oxford World's Classics</li>

	<li><a target="googleplay" href="https://books.google.com/books?id=YZX5AYETTDEC">Grace Metalious, <i>Peyton Place</i> (1956)<br/>
	Northeastern UP </li>

	<li><a target="googleplay" href="https://books.google.com/books?id=-3bLQxV_tr4C&dq=Ragtime">EL Doctorow, <i>Ragtime</i> (1975)</a><br/>
	Bantam (illustrated edition)</li>

	<li><a target="googleplay" href="https://books.google.com/books?id=AkXdAwAAQBAJ">Tom Wolfe, <i>Bonfire of the Vanities</i> (1987)</a><br/>
	Picador Edition</li>
</ul>
</p>

<h3>Materials on Reserve:</h3>

<p>The Library's <a href="https://reserves.lib.virginia.edu/?loc=cl&user=jmu2m&course=ENSP3559">Course Reserves for ENSP 3559</a> site lists print and video materials on reserve at Clemons Library.  Materials include movie versions of <i>The Magnificent Ambersons</i>, <i>Peyton Place</i>, <i>Ragtime</i>, and <i>Bonfire of the Vanities</i>, as well as John Tebbel's four-volume History of Book Publishing in the United States, and copies of all the required and many of the recommended readings--some of which may also be available in  full-text online from <a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f">this course's Collab site</a> or <a href="https://guides.lib.virginia.edu/c.php?g=763827&p=5478527">this course's LibGuide</a>.</p>


<h2>Assignments</h2>

<p>Students will be required to submit a series of assignments into the bestsellers database during the semester, focused on a single best-seller (chosen from the lists of bestsellers by decade, <a href="https://bestsellers.lib.virginia.edu/students/" name="sign in" title="student sign-in" target="new window">here</a>, but not a book that has already been chosen by someone else, nor any of the required readings for the course).  These assignments will comprise a bibliographical description of a first edition, a publication history (including performances in other media, if any), a biographical sketch of the author, a reception history, and a critical analysis of the work in its cultural and literary contexts. All of these assignments will be submitted online, using Web-based submission forms: they will become part of an ongoing project to compile a Web-accessible database of information about bestselling 20th-century American literature.</p>

<p>For each database assignment, <i>students must also submit a list of the sources consulted in completing each subsection of that assignment, and indicate whether or not each source produced information for a particular section of the assignment.</i> This complete list of sources should be submitted through Collab.</p>

<p>In addition to the database assignments, students will work in small groups to present each of the books that we read in common. These presentations must provide an overview of the following:
<ul>
<li>History and cultural significance of the book's original and current publisher(s)</li>
<li>Analysis of how this book relates to the theme that connects all the books we read in common, and what it tells us about that aspect of American culture and current events at the time of its publication</li>
<li>Points of connection on the fiction or non-fiction lists around the same time</li>
</ul>
</p>
<p>
Presentations may also include:
<ul>
	<li>Highlights, typicality, or oddities of the book's publication history</li>
	<li>Highlights, typicality, or oddities of the book's reception</li>
	<li>Highlights, typicality, or oddities of the author's biography</li>
</ul>
</p>

<h2>Attendance and Grading</h2>
<p>Individual class participation is 10% of each student's grade for this class. Absence will be noted, but the first two absences need not be explained or excused.</p>
<p>Assignments are graded numerically, with each database submission worth 100 points.   Each assignment submitted to the database is eligible for re-grading if the researcher does new work in response to initial grading, beyond correcting errors pointed out by the grader.  One assignment may be turned in late, without explanation; it will be due when the re-grading submissions are due.  Late assignments are not eligible for re-grading.</p>
<p>When each database assignment is submitted, a parallel submission to the Collab site for the course is also required, on the same schedule.  The Collab submission should indicate each source that was consulted in the research for that database assignment.  "Each source consulted" does not mean "each source that should be cited as having produced information I used" but rather "each source I looked at, whether it produced citable information or not."  Within that list, you will be asked to indicate which sources produced information for which numbered sections of each assignment.</p>
<p>Why do I do this?  Because students in this course are doing original research. When you do original research, you often find that
<ol>
<li>Perfectly reasonable empirical questions may not have verifiable answers</li>
<li>Sources that should produce information may or may not have the information that matters in a particular case, or may not have definitive information, and</li>
<li>The researcher may not be aware of all relevant sources.</li>
</ol>
<p>So you may have to say, for some section of some assignment, that you cannot find the answer (see 1, above), or that the only answer you can find is partial (see 2, above).  To evaluate your work, your grader will need to know where you looked in order to determine whether you looked in the right places (see 3, above).  The grader will spot-check your research, and if the information is unavailable (see 1, above), you can get full credit for an answer of "not available" or "unknown."  <i>Please note that if a researcher doesn't keep track of sources consulted as the research is being done, it will most likely be impossible to reconstruct the research trail later.</i></p>

<h3>Class Meetings and Due Dates:</h3>
<table cellspacing="5" cellpadding="5"">
	<tr><td>R 1/18</td><td>Introduction to the class, assignments, grading, etc.<br/> Please see Required and Optional readings, in the "Lesson" called "Introductory Readings" on <a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f">the course Collab site</a>.</td> <td></td></tr>
	<tr><td>T 1/23</td><td><b>Meet in the Byrd Morris room in the Harrison-Small Special Collections building (top floor)</b><br/>Introduction to Special Collections--key background for the first assignment.  You may bring pencils (no pens) and/or laptops to take notes, but no food, drink, gum, etc.</td><td></td></tr>
	<td>R 1/25</td><td>Group Presentation on <i>The Jungle</i><br/>See <a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f/tool/6682190b-2880-41ae-89e9-f6e6f8323690/ShowPage?sendingPage=181501&itemId=1433480&path=clear_and_push&title=Readings%20on%20The%20Jungle&newTopLevel=false">the course Collab site for additional readings about this novel.</a></td><td><i>10% of the final grade</i> for those in the group</td></tr>
	<tr><td>T 1/30</td><td><i>The Jungle</i><br/>See <a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f/tool/6682190b-2880-41ae-89e9-f6e6f8323690/ShowPage?sendingPage=181260&itemId=1432725&path=clear_and_push&title=Readings%20on%20Bibliography&newTopLevel=false">the course Collab site for readings on Bibliography</a>.</td><td></td></tr>
	<tr><td>R 2/1</td><td><i>The Jungle</i><br/>
	First Assignment Due: <a href="http://bestsellers.lib.virginia.edu/assignment/1/">Bibliographic Description of a First Edition.</a></br>
	Help documentation: <a href="http://bestsellers.lib.virginia.edu/help/a1help/">http://bestsellers.lib.virginia.edu/help/a1help/</a></br>
	<b>Don't forget to upload sources examined using <a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f">the course Collab site</a></b><br/>
 (last day to drop a course with no penalty)</td><td><i>10% of final grade.</i></td></tr>
	<tr><td>T 2/6</td><td> Readings on Class<br/>
	See <a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f">the course Collab site</a><br/>
	Regrades of First Assignment Due</td><td></td></tr>
	<tr><td>R 2/8</td><td>Group Presentation on <i>The Magnificent Ambersons</i><br/>See <a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f">the course Collab site for additional readings about this novel.</a></td><td> <i>10% of the final grade</i> for those in the group</td></tr>
	<tr><td>T 2/13</td><td><i>The Magnificent Ambersons</i></td><td></td></tr>
	<tr><td>R 2/15</td><td>Discussion of Second Assignment<br/>
	Readings on Publishing <br/>See <a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f">the course Collab site</a></td><td></td></tr>
	<tr><td>T 2/20</td><td><i>The Magnificent Ambersons</i>: in-class excerpts from the Orson Welles film version<br/>
	Second Assignment Due: <a href="http://bestsellers.lib.virginia.edu/assignment/2/">Publication History.</a> </br>Help documentation: <a href="http://bestsellers.lib.virginia.edu/help/a2help/">http://bestsellers.lib.virginia.edu/help/a2help/</a><br/><b>Don't forget to upload sources examined using <a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f">the course Collab site</a></b></td><td><i>15% of the final grade.</i></td></tr>
	<tr><td>R 2/22</td><td>Group Presentation of <i>Babbitt</i><br/>See <a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f">the course Collab site for additional readings about this novel.</a><br/>See also <a href="http://bestsellers.lib.virginia.edu/submissions/112">the database entry on Babbitt</a> </td><td><i>10% of the final grade</i> for those in the group</td></tr>
	<tr><td>T 2/27</td><td><i>Babbitt</i><br/>
	Regrades of Second Assignment Due</td><td></td></tr>
	<tr><td>R 3/1</td><td>Discussion of Third Assignment, other topics as time permits</td><td></td></tr>
	<tr><td>3/5-3/9</td><td align="center">Spring Recess</td><td></td></tr>
	<tr><td>T 3/13</td><td><i>Babbitt</i>: in-class excerpts from the film version<br/> 
	Third Assignment Due: <a href="http://bestsellers.lib.virginia.edu/assignment/3/">Biographical Sketch.</a></br>
	Help documentation: <a href="http://bestsellers.lib.virginia.edu/help/a3help/">http://bestsellers.lib.virginia.edu/help/a3help/</a><br/><b>Don't forget to upload sources examined using <a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f">the course Collab site</a></b></td><td><i>10% of the final grade.</i></td></tr>
	<tr><td>R  3/15</td><td>Group presentation of <i>Peyton Place</i><br/>See <a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f">the course Collab site for additional readings about this novel.</a><br/>See also <a href="http://bestsellers.lib.virginia.edu/submissions/117">the database entry on Peyton Place</a></td><td><i>10% of the final grade</i> for those in the group</td></tr>
	<tr><td>T 3/20</td><td><i>Peyton Place</i> <br/>
	Regrades of Third Assignment Due</td><td></td></tr>
	<tr><td>R 3/22 </td><td><i>Peyton Place</i>: in-class excerpts from the film version<br/> Discussion of Fourth Assignment</td><td></td></tr>
	<tr><td>T 3/27</td><td>Readings on Class<br/>See <a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f">the course Collab site</a></td><td></td></tr>
	<tr><td>R 3/29</td><td>In-class excerpts from the film "People Like Us: Social Class in America."  Discussion of final exam, regrading, end-of-semester considerations. Fourth Assignment Due: <a href="http://bestsellers.lib.virginia.edu/assignment/4/">Reception History.</a> </br>
	Help documentation: <a href="http://bestsellers.lib.virginia.edu/help/a4help/">http://bestsellers.lib.virginia.edu/help/a4help/</a><br/><b>Don't forget to upload sources examined using <a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f">the course Collab site</a></b></td><td><i>10% of the final grade.</i></td></tr>
	<td>T 4/3</td><td>Group Presentation on <i>Ragtime</i><br/>See <a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f">the course Collab site for additional readings about this novel.</a>,br/>See also <a href="http://bestsellers.lib.virginia.edu/submissions/81">the database entry on Ragtime</a></td><td><i>10% of the final grade</i> for those in the group</td></tr>
	<tr><td>R 4/5</td><td><i>Ragtime</i><br/>
	Regrades of Fourth Assignment Due</td><td></td></tr>
	<tr><td>T 4/10</td><td>Readings on Publishing<br/>See <a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f">the course Collab site</a></td><td></td></tr>
	<tr><td>R 4/12</td><td>Discussion of Fifth Assignment, other topics as time permits</td><td></td></tr>
	<tr><td>T 4/17</td><td><i>Ragtime</i>: in-class excerpts from the film version<br/>
	Fifth Assignment Due: <a href="http://bestsellers.lib.virginia.edu/assignment/5/">Essay.</a.> </br>Help documentation: <a href="http://bestsellers.lib.virginia.edu/help/a5help/">http://bestsellers.lib.virginia.edu/help/a5help/</a><br/><b>Don't forget to upload sources examined using <a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f">the course Collab site</a></b></td><td><i>25% of the final grade.</i></td></tr>
	<tr><td>R 4/19</td><td>Group Presentation on <i>Bonfire of the Vanities</i><br/>See <a href="https://collab.its.virginia.edu/portal/site/64394ffa-bae2-49e4-a5b5-f414a7acab7f">the course Collab site for additional readings about this novel.</a></td><td><i>10% of the final grade</i> for those in the group</td></tr>
	<tr><td>T 4/24</td><td><i>Bonfire of the Vanities</i><br/>
	Regrades of Fifth Assignment Due</td><td></td></tr>
	<tr><td>R 4/26</td><td><i>Bonfire of the Vanities</i>: in-class excerpts from the film version</td><td></td></tr>
	<tr><td>T 5/1</td><td>Last Class<br/>
	Discussion of Final Exam and other topics as time permits</td><td></td></tr>
	<tr><td>W 5/2</td><td align="center">Reading Day</td><td></td></tr>
	<tr><td>R 5/3</td><td>Final Exam<br/>2-5 pm, Rotunda, Room 150</td><td><i>10% of the final grade</i></td></tr></table>
</div>
{% endblock %}